/* input color variables */
:root {
    --dark: #38003d;
    --light: #ffffff;
    --secondary: #d9d9d9;
    --primary: #999999;
}
/* universal style */
html, body {
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/background-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 16;
    color: var(--light);
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
}  
/* nav bar style */
.top-bar-left p{
    font-size: 3rem;
}
.top-bar-right{
    background-color: var(--dark);
    margin: auto;
    padding-top: 1%;
}
.top-bar-right ui li a{
    color: var(--light);
}
.top-bar{
    background-color: var(--dark);
}
.top-bar ul{
    background-color: var(--dark);
    margin: auto;
}
.top-bar li a{
    background-color: var(--dark);
    font-size: 2rem;
    color: var(--light);
}
.menutext .dropdown{
    background-color: var(--dark);
}
h1{
    background-color: var(--dark);
    text-align: center;
}
/* header h1 a:hover,
.socials a:hover {
    color: var(--primary);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
} */
/* .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--light);
    font-size: 1rem;
}

.socials a {
    display: flex;
    color: var(--light);
    text-decoration: none;
    font-weight: lighter;
    padding: 0 1rem;
    margin-right: 1%; 
}
.socials a:hover {
    cursor: pointer;
} */
/* button, dropbox style */
button {
    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
    border: 0.5px solid;
    outline: none;
    border-radius: 8px;
    padding: 3.5px; 
}
.text-input:hover {
    box-shadow: 0 0 5px #999;
}
button:hover {
    background-color: var(--light);
    color: var(--dark);
}
.form-group{
    margin-top: 5rem;
    position: relative;
    text-align: center;
}

footer {
    margin-top: 40%;
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 100%;
    background-color: var(--dark);
    color: var(--light);
    height: 4rem;
}

footer a {
    text-decoration: none;
    color: var(--light);
    padding: 0 2rem;
    margin: auto;
    font-size: 0.8rem;
}

footer a:hover {
    color: var(--secondary);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

/* modal popup display */
#open-button {
    display: none;
}

